[submodule "src/Firmware/libraries/Adafruit_NeoPixel"]
	path = src/Firmware/libraries/Adafruit_NeoPixel
	url = https://github.com/bastianraschke/Adafruit_NeoPixel.git
	branch = master
[submodule "src/Firmware/libraries/IRremote"]
	path = src/Firmware/libraries/IRremote
	url = https://github.com/bastianraschke/Arduino-IRremote.git
	branch = master
